<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shenyy.yuan.dao.UserDao">
    <select id="getUserList" resultType="user">
        SELECT * FROM user_info
    </select>
    
    <select id="getUserByIdOrName" resultType="user">
        SELECT * FROM  user_info WHERE 1=1
        <if test="id!=null">
            AND id = #{id}
        </if>
        <if test="username!=null and username!=''">
            AND username = #{username}
        </if>
    </select>

    <select id="getRoleList" resultType="sysRole">
        SELECT b.id,b.role,b.description,b.available
        FROM userrole a LEFT JOIN role b ON a.roleId = b.id
        WHERE userId = #{id}
    </select>

    <select id="getPermissionList" parameterType="Integer" resultType="com.shenyy.yuan.model.SysPermission">
        SELECT b.id,b.name,b.resourceType,b.url,b.permission,b.parentId,b.parentIds,b.available
        FROM rolepermission a LEFT JOIN permission b ON b.id = a.permissionId
        WHERE a.roleId  = #{id}
    </select>

    <select id="getPermissionByUser" resultType="com.shenyy.yuan.model.SysPermission" parameterType="java.util.List">
        SELECT DISTINCT b.id,b.name,b.resourceType,b.url,b.permission,b.parentId,b.parentIds,b.available
        FROM rolepermission a LEFT JOIN permission b ON b.id = a.permissionId
        WHERE a.roleId IN
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item.id}
        </foreach>
    </select>
</mapper>